/Arbor/network_ring_result.png
/Arbor/network_ring_result.svg
/NeuroML2/.ipynb_checkpoints
/NeuroML2/*.hoc
*.spikes
/NeuroML2/*.dat
x86_64
/NeuroML2/report.*.txt
/NeuroML2/LEMS_SimTestNet_nrn.py
/NeuroML2/BallAndStick.cell.svg
/Arbor/custom_net_result.png
/NeuroML2/tests/*.dat
/NeuroML2/neuromllite/*.dat
/NeuroML2/neuromllite/ArborExample.json
/NeuroML2/neuromllite/SimArborExample.json
arm64
/Arbor/simple.dat
